body {
  margin: 0 auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgba(150, 128, 74, 0.279);
}
.header {
    background-color:rgba(57, 48, 26, 0.501);
    color: rgb(250, 250, 250);
    padding: 1em;
    margin: 0.5em 0;
    text-align: center;
}
.dogs {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}
.info {
  border: 2px solid rgba(65, 55, 30, 0.068);
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(74, 63, 34, 0.068);
  color: rgb(0, 0, 0);
  text-align: center;
}
.nav {
  background-color: rgba(82, 71, 43, 0.279);
  padding: 0.3em;
  margin: 0.3em 0.3;
  text-align: center;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

.annoucment {
text-align: center;
text-decoration: underline;
}
.button-container {
    display: flex; /* Käytetään flexboxia */
    gap: 10px; /* Väli nappejen välillä */
    margin-top: 20px; /* Lisää tilaa nappejen ylle */
}

.button-container input[type="submit"],
.button-container button {
    padding: 0.5em 1em; /* Pehmeyttä ja tilaa napille */
    background-color: #f0f0f0; /* Taustaväri */
    border: 1px solid #ccc; /* Kehys */
    border-radius: 4px; /* Pyöristetyt kulmat */
    cursor: pointer; /* Muuttaa osoittimen nappia käytettäessä */
}

.button-container button:hover,
.button-container input[type="submit"]:hover {
    background-color: #e0e0e0; /* Taustaväri hover-tilassa */
}