body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgba(150, 128, 74, 0.279);
}

.dogs {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}
.info {
  border: 2px solid rgba(65, 55, 30, 0.068);
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(74, 63, 34, 0.068);
  color: rgb(0, 0, 0);
}
