{% extends "layout.html" %}
  {% block title %}Koiratietokanta{% endblock %}
{% block content %}
<h3>Etsi koiria</h3>
    <form action="/find_dog" method="GET">
        <p>
            Hakusana: <input type="text" name="query" value="{{queston_text }}">
        </p>
        <p>
            <small><i>Hakusanoja voivat olla koiran nimi, ikä, rotu, sukupuoli tai ilmoittajan nimi.</i></small>
        </p>
        <input type="submit" value="Lähetä">
    </form>
    {% if query %}
        <h3>Haullasi löytyi nämä ilmoitukset</h3>
        <ul>
            {% for dog in result %}
                <li>
                    <a href="/dogs/{{ dog.dog_id }}">{{ dog.dogname }}</a> - Ilmoittaja: {{ dog.username }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Ei hakutuloksia.</p>
    {% endif %}
{% endblock%}
