<html>

<head>
  <title>Koiratietokanta</title>
</head>
<body>
<h1>Koiratietokanta</h1>
  {% if session.username %}
 <p>
  <p>
    Olet kirjautunut nimellä {{ session.username }} id-numerosi on {{ session.user_id}}
  </p>
  <p>

    <form action="/logout" method = "get">
      <button type="submit">Kirjaudu ulos</button>
    </form>
  </p>

  <p>
    <form action="/register_dog" method = "get">
      <button type="submit">Rekisteröi koirasi</button>
    </form>
    </p>
    {% else %}
    <p>
          <form action="/login" method = "get">
      <button type="submit">Kirjaudu sisään</button>
    </form>
    <form action="/register" method = "get">
      <button type="submit">Luo tunnus</button>
    </form>
  </p>
  {% endif %}
    <h2>Ilmoitukset</h2>
        <ul>
          {% for dog in dogs %}
          <li><a href="/dogs/{{ dog.id }}">{{ dog.dogname }}</a></li>
          {% endfor %}
</ul>
</body>
</html>
