<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header class="header">
        <h1>Koiratietokanta</h1>
    </header>
<div class="nav">
  <p>
    <a href="/">Etusivu</a> |
    <a href="/find_dog">Etsi rekisteröityjä koiria</a> |
  {% if session.user_id %}
    <a href="/register_dog">Rekisteröi koirasi</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
    {% if session.user_id %}
 <p>
    Olet kirjautunut nimellä: <a href="/user/{{ session.user_id}}">{{ session.username }}</a>
{% endif %}
  </div>
  </p>
   </p>
  {% for message in get_flashed_messages() %}
  <div class="info">
    <b>{{ message }}</b>
  </div>
  {% endfor %}
    {% block content %}{% endblock %}
</body>