<html>

<head>
  <title>Kirjautuminen</title>
</head>
<body>
  <h1>Rekisteröinti</h1>
  {% if error %}
   <p style="color: red;">{{ error }}</p>
{% endif %}

  {% if success %}
   <p style="color: green;">{{ success }}</p>
{% endif %}
<p>
</p>
  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username"required />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
<form action="/" method = "GET">
    <button type="submit">Takaisin etusivulle</button>
      </form>
</body>

</html>