{% extends "layout.html" %}
{% block title %}Kirjaudu sisään{% endblock %}
{% block content %}
<h2>Luo tunnus</h2>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
      <p style="color: green;">{{ success }}</p>
        {% endif %}

  <form action="/create" method="POST">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
      <p>
        Salasana: <br />
          <input type="password" name="password1" />
        </p>
  <p>
    Salasana uudestaan: <br />
      <input type="password" name="password2" />
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          <input type="submit" value="Luo tunnus" />
      <p>

</p>
    </form>
{% endblock %}