<!DOCTYPE html>
<html>

<head>
  <title>Rekististeröinti</title>
</head>

<body>
    <h1>Rekisteröi koira</h1>
  <form action="/create_register_dog" method="post">
    <p>
      Koiran nimi: <br />
      <input type="text" name="dogname" />
    </p>
    <p>
      Rotu: <br />
      <input type="text" name="breed" />
    </p>
    <p>
      Ikä: <br />
      <input type="text" name="age" />
    </p>
    <p>
      Sukupuoli: <br />
     <input type="text" name="gender" />
    </p>


    <input type="submit" value="Luo ilmoitus"/>
  </form>
</body>

</html>