{% extends "layout.html" %}
{% block title %}Poista koira{% endblock %}
{% block content %}
    <h1>Poista koira</h1>
        <p>Oletko varma, että haluat poistaa koiran: {{ dog.dogname }}?</p>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Poista koira">
    </form>
<form method="GET" action="{{ url_for('get_dog', dog_id=dog.dog_id) }}">
    <input type="submit" value="Peruuta">
</form>
{% endblock%}