<html>
  <head>
    <title>{{ dog.dogname }}</title>
</head>

<body>
  {% if dog.user_id  == session.user_id %}
    <form action="/edit_dog/{{dog.dog_id}}"  method = "GET">
      <button type="submit">Muokkaa tietoja</button>
    </form>
      <form action="/remove_dog/{{dog.dog_id}}"  method = "GET">
        <button type="submit">Poista koira</button>
          </form>

  {% endif %}
    <h1>{{ dog.dogname }}</h1>
    <p>Rotu: {{ dog.breed }}</p>
    <p>Ikä: {{ dog.age }}</p>
    <p>Sukupuoli: {{ dog.gender }}</p>
    <p>Ilmoittaja: <a href="/user/{{ dog.user_id }}">{{ dog.user_name }}</a></p>

<form action="/" method = "GET">
    <button type="submit">Takaisin etusivulle</button>
      </form>
    </body>
</html>